body {
  background-color: lightgray;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20%;
}

.card-bg {
  background-color: #E3F3FF;
  margin: 8px;
  padding: 8px;
}

.content {
  padding: 16px 8px;
}

.title {
  font-size: 16px;
}

.button-container {
  text-align: center;
}

button {
  text-align: center;
  padding: 8px 24px;
}
