.para {
  color: red;
  font-size: 34px;
}

.small-para {
  font-size: 20px;
}

button {
  font-size: 34px;
  border: outset 2px lightgray;
}

#confirm-button {
  background-color: green;
  border: outset 2px lightgray;
  color: #fff;
}

#cancel-button {
  background-color: #fff;
}

.text {
  color: green;
  font-size: 34px;
}

.text.child {
  color: red;
  font-size: 20px;
}

